body {
  color: white;
}

.content {
  border-radius: 1%;
  opacity: 97%;
}

/*video section*/
.video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
  margin-bottom: 3rem;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/*headings*/
h1 {
  margin: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(240, 240, 240)
}

h2 {
  margin: 1rem 0.4rem;
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
  color: rgb(240, 240, 240)
}

/*image gallery*/
#images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(6rem, 100%), 1fr));
  /*less value at min make more columns when display gallery*/
  gap: 20px;
  margin: 30px;
}


.gallery img {
  width: 100%;
  height: 100%;

}

/*Aside text*/
.aside {
  font-size: 12px;
  float: left;
}

.aside p {
  text-align: center;

}

p img {
  height: 20px;
  width: auto;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
  margin: 5% 5%
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/*button inside the expanded image for changing to the next*/
.nextbtn {
  position: absolute;
  right: 0;
  top: 45%;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/*button inside the expanded image for changing to the previous*/
.previousbtn {
  position: absolute;
  left: 0;
  top: 45%;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/*media queries*/
@media (min-width:600px) {

  /*tablet*/
  .trailers {
    width: 80%;
    margin-bottom: 4rem
  }

  .nextbtn,
  .previousbtn {
    font-size: 50px
  }

  .video {
    margin-left: 15%;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .content {
    padding-bottom: 2px;
    padding-top: 2px;
  }

  h3 {
    font-size: 26px;
    margin-bottom: 3rem;
    margin-top: 2.5rem
  }

  @media (min-width:900px) {

    /*pc*/
    .trailers {
      width: 70%;
      margin-bottom: 4rem
    }

    .video {
      margin-left: 25%
    }
  }
}